

<!DOCTYPE html>
<html lang="hu">
    {% block title %} Rólunk {% endblock %}
    {% extends "default/layout.html" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rólunk - Networktech-Solutions</title>
    <link rel="stylesheet" href="styles.css">
{% block body %}
<body class="rolunk">
    

    <div class="container">
        
        <h2><u>Rólunk</u></h2>
        <img src={% static "default/img/Networktech.jpg" alt="Networktech-Solutions Team"%}
        ><h3>Célunk</h3>
        <p> A cégünknek sok nemes célja van. A <span style="color: #007bff; font-weight: bold;">Networktech-Solutions</span>-nél fontosnak tartjuk, hogy bárki, bárkivel, bárhol könnyen tudjon kapcsolatot tartani.
            Ezt a minőségi szolgáltatásainkkal támogatjuk. Számunkra fontos az emberek, barátok, családok, cégek online összekötése. Ezért is alapult meg a cégünk.
        </p>
        <h3>A cégről röviden</h3>
        <p>A <span style="color: #007bff; font-weight: bold;">Networktech-Solutions</span> cég szerverekkel, felhőszolgáltatások, illetve teljes hálózat megtervezésével és kivitelezésével foglalkozik. 
            Ezeken túl a Web-oldalon hálózati eszközök is vásárolhatóak. A NetworkTech Solutions Nyugat-Magyarország legnagyobb és legmodernebb vállalata. 
            A legmodernebb, legkorszerűbb eszközökkel dolgozunk 400 kollégánkkal közel 15 telephelyen elosztva. 
            Ennyi telephellyel az ország nyugati részének egészét lefedjük, később Kelet-Magyarországra, illetve Ausztria és Szlovákia felé is nyitni szeretnénk.</p>
        <h3>Elhelyezkedés</h3>
        <p>A <span style="color: #007bff; font-weight: bold;">Networktech-Solutions</span> Győr belvárosában található a Vidanet mellett. Ez a legfőbb állomása a cégnek. Itt közel 50 emberünk dolgozik, mivel az Ügyfélszolgálati állomásunk és 
            a <span style="text-decoration: underline;">Szerver farmunk</span> is itt található.
            A győri elhelyezkedés biztosítja a szolgáltatásaink jó minőségét. Ezt a város modern infrastruktúrája is segíti.
        </p>
        <h3>További telephelyeink, kollégáink</h3>
        <p>Ezen kívül 3 telephellyel rendelkezünk. Ezek Magyarország nyugati területén helyezkednek el: Mosonmagyaróvár, Sopron, Veszprém. Célunk, hogy a jövőben kelet felé is terjezkedjünk.
            Jelenleg a <span style="color: #007bff; font-weight: bold;">Networktech-Solutions</span> 400 munkatárssal és 25 ügyfélszolgálati csapattal rendelkezik, ami 10 HR osztályt erősít.
            A cégünk 10 rendszergazdával rendelkezik, akik életben tartják a céget.
        </p>
    </div>



</body>
{% endblock %}

</html>
